.App {
  text-align: center;
  padding-top: 70px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#home-button {
  background-color: rgb(64, 199, 252); 
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
}

.top-link {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  margin-right: 20px;
  margin-left: 20px;
}

#nav {
  background-color: rgba(38, 37, 37, 0.413);
  margin-top: -20px;
}

#about {
  background-color: rgba(21, 21, 21, 0.466);
  width: 300px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#top-container {
  margin-top: 50px;
}

#my-weather {
  color: white;
  font-weight: bold;
  font-size: 45px;
  font-style: italic;
  margin-bottom: -10px;
}

#tag-line {
  color: rgb(64, 199, 252);
  font-size: 22px;
  font-style: italic;
  margin-bottom: 40px;
}

#zip-label {
  color: white;
  font-weight: bold;
}

#submit-button {
  margin-left: 10px;
  border-radius: 10px;
  background-color: rgb(0, 166, 255);
  color:white;
  font-weight: bold;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#loading {
  color:white;
  font-weight: bold;
}

#dropdown {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.search-option.div {
  margin-top: 5px;
}
.search-option {
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main-container {
  background-color: rgba(38, 38, 38, 0.516);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 1px;
  padding-bottom: 20px;
  border-radius: 50px;
}

#city-name {
  color: rgb(64, 199, 252);
  font-size: 34px;
  margin-bottom: -10px;
  margin-top: 10px;
}

#today-forecast {
  color: white;
  font-style: italic;
  font-size: 20px;
}

#current-temps {
  color: rgb(123, 188, 242);
  font-weight: bold;
}

#daily-weather {
  color: rgb(123, 188, 242);
  font-weight: bold;
}

#errors {
  margin-top: 10px;
}

.error {
  color: rgb(191, 14, 14);
  font-weight: bolder;
}

#recent-searches {
  position: fixed;
  padding: 2em;
  left: 75%;
  top: 18%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
}

.list-items {
  margin-bottom: 10px;
  color: rgb(98, 194, 247);
}

